In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("reviews-f.csv")
df

    country  review  product_id
0       USA       4           3
1       RUS       4           3
2       CHN       4           3
3       BRA       4           3
4       MEX       4           3
..      ...     ...         ...
379     BRA       4           2
380     MEX       4           2
381     CAN       4           2
382     JPN       4           2
383     EST       4           2

[384 rows x 3 columns]